* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #E9EBEC;
    font-family: 'Poppins';

    transition: background-color 0.3s ease;
}

@keyframes right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(+10px);
    }
    100% {
        transform: translateX(0);
    }
}

.dark-mode {
    background-color: rgba(12, 21, 29, 1);
}

.container {
    display: flex;
    justify-content: center;
}

#dark-mode-button {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(231, 231, 231, 1);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-top: 33px;

    transition: background-color 0.6s ease;
}

.dark-mode #dark-mode-button {
    background-color: rgba(23, 31, 38, 1);
    border: 0;
}

.dark-mode #dark-mode-button img {
    filter: invert(100%);
}

.dark-mode #dark-mode-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

#dark-mode-button:hover {
    background-color: #E9EBEC;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.profile__picture {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 215px;
    border-radius: 100%;
    background-color:  rgba(255, 255, 255, 1);
    border: 4px solid rgba(247, 208, 57, 1);
}

.profile__img {
    width: 192px;
    height: 192px;
}

.profile__info {
    margin-left: 44px;
}

.profile__info h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 69px;
    color: rgba(61, 61, 61, 1);
}

.dark-mode .profile__info h1 {
    color: rgba(241, 242, 244, 1);
}

.profile__info p {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: rgba(61, 61, 61, 1);
}

.dark-mode .profile__info p {
    color: rgba(163, 171, 178, 1);
}

.profile__social-media {
    display: inline-flex;
    gap: 26px;
}

.dark-mode .profile__social-media  img{
    filter: invert(100%);
}

.profile__facts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 2px 20px 2px;
    gap: 90px;
    text-align: center;
    margin-top: 47px;
    color: rgba(58, 58, 58, 1);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.dark-mode .profile__facts {
    color: rgba(163, 171, 178, 1);
}

.profile__facts p {
    font-size: 22px;
    line-height: 33px;
}

.profile__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    height: 80px;
    gap: 38px;
    color: rgba(61, 61, 61, 1);
}

.buttons__download-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    background-color: rgba(251, 209, 68, 1);
    width: 290px;
    height: 80px;
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    line-height: 33px;
}

.buttons__download-cv a {
    text-decoration: none;
    color: inherit;
}

.buttons__download-cv img {
    margin-left: 1rem;
}

.buttons__download-cv:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    animation: right 0.1s ease 2;
}
.buttons__dark-mode .download-cv:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.buttons__contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    width: 290px;
    height: 80px;
}

.buttons__contact-me:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.dark-mode .buttons__contact-me {
    color: rgba(163, 171, 178, 1);
    background-color: rgba(23, 31, 38, 1);
}

.dark-mode .buttons__contact-me:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.tabs {
    margin-top: 47px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 110px;
}

.dark-mode .tabs__container {
    background-color: rgba(23, 31, 38, 1);
}

.tabs__background-indicator {
    position: absolute;
    background-color: #E9EBEC;
}

.tabs__btn {
    transition: background-color 0.6s ease;
}

.tabs__btn__portfolio {
    margin-left: 23px;
    border: 0;
    border-radius: 10px;
    height: 80px;
    width: 351px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    background-color: #FFFFFF;
    z-index: 2;
}

.dark-mode .tabs__btn__portfolio {
    background-color: rgba(23, 31, 38, 1);
    color: rgba(163, 171, 178, 1);
}

.tabs__btn__skills {
    margin-right: 23px;
    border: 0;
    border-radius: 10px;
    height: 80px;
    width: 351px;
    background-color: #FFFFFF;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    z-index: 2;
}

.dark-mode .tabs__btn__skills {
    background-color: rgba(23, 31, 38, 1);
    color: rgba(163, 171, 178, 1);
}

.active {
    background-color: #E9EBEC;
}

.dark-mode .active {
    background-color: rgba(12, 21, 29, 1);
}

.tabs__content {
    width: 760px;
    height: 826px;
    margin: 47px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.tabs__content img {
    width: 362px;
    height: 226px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs__content img:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.dark-mode .tabs__content img:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(87, 87, 87, 1);
    font-size: 22px;
    line-height: 33px;
    margin-top: 113px;
    margin-bottom: 47px;
}

.dark-mode footer {
    color: rgba(163, 171, 178, 1);
}

.scroll-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: rgba(255, 221, 51, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.scroll-to-top-btn:hover {
    /* background-color: rgba(255, 233, 51, 1); */
    background-color: rgba(255, 237, 0, 1);
}

/* Mobile */
@media (max-width: 600px) {

    .container {
        padding: 20px 0px 40px 0px;
    }

    #dark-mode-button {
        width: 48px;
        height: 48px;
    }

    #dark-mode-button img {
        width: 24px;
        height: 24px;
    }

    .profile {
        flex-direction: column;
        margin-top: 0;
        padding: 0px, 2px, 0px, 2px;
    }

    .profile__info {
        text-align: center;
    }

    .profile__picture {
        width: 124px;
        height: 124px;
        margin-bottom: 40px;
    }

    .profile__img {
        width: 107px;
        height: 107px;
    }

    .profile__img img {
        width: 107px;
        height: 107px;
    }

    .profile__info {
        width: 372px;
        margin-left: 0;
    }

    .profile__info h1 {
        height: 48px;
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 0;
    }

    .profile__info p {
        height: 21px;
        font-size: 14px;
        line-height: 21px;
        margin-top: 0;
    }

    .profile__social-media {
        width: 174px;
        margin-top: 0;
    }

    .profile__social-media img{
        width: 24px;
        height: 24px;
    }

    .profile__facts {
        justify-content: space-between;
        gap: 0;
        padding: 20px;
        margin-top: 0;
        font-size: 16px;
        line-height: 24px;
        margin: 0;
    }

    .profile__facts p {
        font-size: 14px;
        line-height: 21px;
    }

    .profile__buttons {
        margin-top: 0;
        height: 80px;
        gap: 14px;
        padding: 18px 20px;
    }
    
    .buttons__download-cv {
        width: 158px;
        height: 44px;
        font-size: 12px;
        line-height: 18px;
    }
    
    .buttons__download-cv img {
        width: 16px;
        height: 14px;
    }

    .buttons__contact-me {
        font-size: 12px;
        line-height: 18px;
        width: 158px;
        height: 44px;
    }

    .tabs {
        margin-top: 0;
        height: 84px;
        padding: 10px 20px;
        border-radius: 10px;
    }
    
    .tabs__container {
        gap: 9px;
        width: 330px;
        border-radius: 10px;
        height: 64px;
    } 

    .tabs__btn__portfolio {
        margin-left: 6px;
        margin-left: 6px;
        height: 50px;
        width: 154px;
        font-size: 14px;
        line-height: 21px;
    }

    .tabs__btn__skills {
        margin-right: 6px;
        height: 50px;
        width: 154px;
        font-size: 14px;
        line-height: 21px;
    }

    .tabs__content {
        padding: 0 20px 20px 20px;
        width: auto;
        height: auto;
        margin: 10px 0;
        gap: 30px;
    }
    
    .tabs__content img {
        width: 340px;
        height: 210px;
        border-radius: 15px;
    }

    footer {
        font-size: 14px;
        line-height: 21px;
        padding: 20px 0 40px 0;
        margin: 0;
    }

    .scroll-to-top-btn {
        display: block;
    }
}

/* Tablet */
@media (min-width: 601px) and (max-width:1024px) {

    .profile {
        flex-direction: column;
        margin-top: 30px;
    }

    .profile__info {
        text-align: center;
    }

    .profile__info h1 {
        margin-bottom: 0;
    }

    .profile__info p {
        margin-top: 0;
    }

    .profile__facts {
        padding: 20px;
    }

    .tabs__content {
        width: auto;
        height: auto;
        margin: 20px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 33px;
    }
    
    .tabs__content img {
        height: auto;
        border-radius: 15px;
    }

    footer {
        font-size: 14px;
        line-height: 21px;
        padding: 20px 0 40px 0;
        margin: 0;
    }    
}