body {
    background-color: #E9EBEC;
    font-family: 'Poppins';

    transition: background-color 0.3s ease;
}

@keyframes right {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(+10px);
    }
    100% {
        transform: translateX(0);
    }
}

.dark-mode {
    background-color: rgba(12, 21, 29, 1);
}

.container {
    display: flex;
    justify-content: center;
}

#dark-mode-button {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(231, 231, 231, 1);
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-top: 33px;

    transition: background-color 0.6s ease;
}

.dark-mode #dark-mode-button {
    background-color: rgba(23, 31, 38, 1);
    border: 0;
}

.dark-mode #dark-mode-button img {
    filter: invert(100%);
}

.dark-mode #dark-mode-button:hover {
    background-color: rgba(255, 255, 255, 1);
}

#dark-mode-button:hover {
    background-color: #E9EBEC;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

* {
    padding: 0;
    margin: 0;
}

.profile-picture {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 215px;
    border-radius: 100%;
    background-color:  rgba(255, 255, 255, 1);
    border: 4px solid rgba(247, 208, 57, 1);
}

.profile-img {
    width: 192px;
    height: 192px;
}

.profile-info {
    margin-left: 44px;
}

.profile-info h1 {
    font-weight: 500;
    font-size: 46px;
    line-height: 69px;
    color: rgba(61, 61, 61, 1);
}

.dark-mode .profile-info h1 {
    color: rgba(241, 242, 244, 1);
}

.profile-info p {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: rgba(61, 61, 61, 1);
}

.dark-mode .profile-info p {
    color: rgba(163, 171, 178, 1);
}

.social-media {
    display: inline-flex;
    gap: 26px;
}

.dark-mode .social-media  img{
    filter: invert(100%);
}

.profile-facts {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 2px 20px 2px;
    gap: 90px;
    text-align: center;
    margin-top: 47px;
    color: rgba(58, 58, 58, 1);
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.dark-mode .profile-facts {
    color: rgba(163, 171, 178, 1);
}

.profile-facts p {
    font-size: 22px;
    line-height: 33px;
}

.profile-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
    height: 80px;
    gap: 38px;
    color: rgba(61, 61, 61, 1);
}

.download-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 10px;
    background-color: rgba(251, 209, 68, 1);
    width: 290px;
    height: 80px;
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    line-height: 33px;
}

.download-cv a {
    text-decoration: none;
    color: inherit;
}

.download-cv img {
    margin-left: 1rem;
}

.download-cv:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    animation: right 0.1s ease 2;
}
.dark-mode .download-cv:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    width: 290px;
    height: 80px;
}

.contact-me:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.dark-mode .contact-me {
    color: rgba(163, 171, 178, 1);
    background-color: rgba(23, 31, 38, 1);
}

.dark-mode .contact-me:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.tabs-container {
    margin-top: 47px;
    height: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 10px;
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 110px;
}

.dark-mode .btn-container {
    background-color: rgba(23, 31, 38, 1);
}

.background-indicator {
    position: absolute;
    background-color: #E9EBEC;
}

.tab-btn {
    transition: background-color 0.6s ease;
}

.portfolio-btn {
    margin-left: 23px;
    border: 0;
    border-radius: 10px;
    height: 80px;
    width: 351px;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    background-color: #FFFFFF;
    z-index: 2;
}

.dark-mode .portfolio-btn {
    background-color: rgba(23, 31, 38, 1);
    color: rgba(163, 171, 178, 1);
}

.skills-btn {
    margin-right: 23px;
    border: 0;
    border-radius: 10px;
    height: 80px;
    width: 351px;
    background-color: #FFFFFF;
    font-size: 22px;
    line-height: 33px;
    font-weight: 500;
    z-index: 2;
}

.dark-mode .skills-btn {
    background-color: rgba(23, 31, 38, 1);
    color: rgba(163, 171, 178, 1);
}

.active {
    background-color: #E9EBEC;
}

.dark-mode .active {
    background-color: rgba(12, 21, 29, 1);
}

.tabs-content {
    width: 760px;
    height: 826px;
    margin: 47px auto 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.tabs-content img {
    width: 362px;
    height: 226px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabs-content img:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.dark-mode .tabs-content img:hover {
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.6);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(87, 87, 87, 1);
    font-size: 22px;
    line-height: 33px;
    margin-top: 113px;
    margin-bottom: 47px;
}

.dark-mode footer {
    color: rgba(163, 171, 178, 1);
}
